.my_bgcolor{
    background: #e8e8e8;
}
.font_small{
    font-size:14px;
}
.my_border_right{
    border-right:1px solid #dddddd;
}
.my_border_bottom{
    border-bottom:2px solid #dddddd;
}
.btn_mg{
    margin-top:26px;
}
.my_weight{
    font-weight: bold;
}
.my_underline{
    text-decoration:underline;
}
.no_underline{
    text-decoration: none !important;
}
.my_mt{
    margin-top: 150px;
}
.my_hover:hover{
    color: #666;
}
.my_black{
    color:#000000;
}
.my_scale{
    transition: 1s;
}
.my_scale:hover{
    transform: scale(1.1);
}
.my_border{
    border:0;
    width: 21rem;
    height: 2.2rem;
    text-align: left;
    background: #fff;
    padding: 4px;
    font-size: 12px;
}
.my_border:hover{
    border:1px solid #000;
}

.max_width{
    width: 22rem;
}
.my_padding{
    margin:0 auto;
}
.checkbox_width{
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}
.text-juse{
    color: #fd2002;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #fff;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #fff;
    border-color:#fff;
}
.underline_hover{
    width: 3rem;
    height: 1.5rem;
    position: relative;
    bottom:0;
}
.underline_hover:hover{
    bottom:7px;

}
